/* base-reset-styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  /* margin-right: auto; */
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

/* base reset/styles */

/* HEADER */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo-main {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  padding: 24px 0;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.nav-link:active {
  text-decoration: underline;
}

.nav-link.active-link {
  position: relative;
  color: #404bbf;
}

/* .nav-list-item {
  position: relative;
} */

.nav-link.active-link::after {
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
}

.adress {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-item-contact {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item-contact:hover,
.contacts-item-contact:focus {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

/* HEADER */

/* HERO */

/* section-main */

.section-main {
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/officepople.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* background-position: 50px 30px; */
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.container-section-main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.container-section-main-bnt {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-section-main-bnt:hover,
.container-section-main-bnt:focus {
  background-color: #404bbf;
}

/* section-main */

/* section-advantages */

.advantages {
  padding: 120px 0;
}

.container-advantages {
  flex-direction: column;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-title {
  text-align: center;
}

.container-advantages-list {
  display: flex;
  gap: 24px;
}

.container-advantages-item {
  flex-basis: calc((100% - 72px) / 4);
}

.svg-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.container-advantages-list-title {
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.container-advantages-list-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section-advantages */

/* section-our-team */

.our-team {
  background: #f4f4fd;
  padding: 120px 0;
}

.our-team-title {
  margin-bottom: 72px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.our-team-list-main {
  display: flex;
  gap: 24px;
  text-align: center;
}

.our-team-item {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-description {
  padding: 32px 0;
}

.our-team-description-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-team-description-p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.our-team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-direction: row;
  text-align: center;
}

.our-team-social-list-item {
  width: 40px;
  height: 40px;
}

.our-team-social-links {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-links:hover,
.our-team-social-links:focus {
  background-color: #404bbf;
}

.our-team-social-logo-svg {
  fill: #f4f4fd;
}

/* section-ourteam */

/* our-portfolio */

.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-port-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

/* .our-port-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

.our-portfolio-items {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* ================ */
  position: relative;
  overflow: hidden;
}

.our-portfolio-items:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
  /* position: relative;
  overflow: hidden; */
}

.overlay-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  top: 0;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-items:hover .overlay-text {
  transform: translateY(0%);
}

.our-portfolio-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-description-title {
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-portfolio-description-p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* our-portfolio */

/* HERO */

/* FOOTER */

.footer-main {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-main-block {
  display: flex;
  align-items: baseline;
}

.container-footer-logo {
  margin-right: 120px;
}

.logo-part-footer {
  color: #f4f4fd;
}

.logo-main-footer {
  margin-bottom: 16px;
  display: inline-block;
  padding: 0;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

/* .container-footer-socials {
} */

.container-footer-socials-text {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.container-footer-socials-list {
  display: flex;
  gap: 16px;
}

.container-footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-social-logo-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-logo-link:hover,
.footer-social-logo-link:focus {
  background-color: #31d0aa;
}

.footer-social-logo-svg {
  fill: #f4f4fd;
}

/* ============================ */

.container-footer-form {
  margin-left: auto;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.container-footer-form-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-user-form-label {
}

.container-footer-form-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  padding: 8px 16px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-footer-form-input:hover,
.container-footer-form-input:focus {
  border-color: #31d0aa;
}

.container-footer-form-btn {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-footer-form-btn:hover,
.container-footer-form-btn:focus {
  background-color: #31d0aa;
}

.container-footer-form-btn-svg {
  fill: #fff;
  margin-left: 16px;
}

/* FOOTER */

/* Modalwindow */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;

  /* конспект */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* конспект */

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* opacity: 0;
  visibility: hidden;
  pointer-events: none; */

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  /* ментор */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* ментор */

  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-svg,
.modal-btn:focus .modal-btn-svg {
  fill: #ffffff;
}

.modal-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

/* FORM */

.form-wrapper-for-label-input {
  margin-bottom: 8px;
}

.form-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-input-svg {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input-svg-vector {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-svg:has(input:focus) .form-input-svg-vector {
  fill: #4d5ae5;
}

.form-comment {
  margin-bottom: 16px;
}

.form-comment-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment-text:focus {
  border-color: #4d5ae5;
}

.form-overlay-check {
  margin-bottom: 24px;
}

.form-overlay-check-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-overlay-check-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.form-overlay-check-label-span-svg {
  /* stroke: black; */
  fill: white;
  color: #31d0aa;
}

.form-overlay-check-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.overlay-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-overlay-check
  input[type="checkbox"]:checked
  + label
  .form-overlay-check-label-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
